.bold{
    font-weight:800;
}
.text-justify{
    text-align:justify;
}
.about-wrapper{
    border:3px dashed #daa60c;
    border-radius:8px;
    background-color:#eee;
}

.lily-script{
    font-family: Lily Script One;
}
.roadmap{
    position: fixed;
    top:100px;
    left: 0;
    z-index: -9;
}
.bg-white{
    background-color: #fff;
}

.box-tasvir {
    overflow: hidden;
    height: 320px;
    width: 320px;
    position: relative;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius:5px;
}
@keyframes masihscroll {
    0% {transform: translateY(0%);}
    50% {transform: translateY(-80%);}
    100% {transform: translateY(-0%);}
}
.box-tasvir img {
    width: 100%;
    height: auto;
    max-width: 100%;
    transition: all 3s;
    animation-duration: 25s;
    animation-name: masihscroll;
    animation-iteration-count: 1000;
}

.tech-bg{
    border-radius: 10px;
    font-family:sans-serif;
    font-size:12px;
}